ul.list-menu li {
    width: 50px;
    display: inline-block;

    a {
        color: #343a40;
        background-color: #9cea9c;
        padding: 2px;
        border-radius: 5px;
        &.selected {
            background-color: green !important;
        }
    }
}